before_build:
- pwsh: dotnet restore
build_script:
- pwsh: dotnet publish -f netcoreapp3.1 -c:Release
- pwsh: dotnet publish -f netstandard2.0 -c:Release PriFormat
- pwsh: dotnet publish -f netstandard2.1 -c:Release PriFormat
after_build:
- dotnet pack -p:PackageId=chausner.PriFormat.Forked -o:PriFormat/bin/publish -c:Release PriFormat
artifacts:
- path: PriFormat/bin/publish/*.nupkg
  name: Nuget
- path: PriFormat/bin/Release/netstandard2.0/publish
  name: netstandard2.0
- path: PriFormat/bin/Release/netstandard2.1/publish
  name: netstandard2.1
- path: PriFormat/bin/Release/netcoreapp3.1/publish
  name: netcoreapp3.1
